<script>
  if(location.hostname == "code4nation.github.io"){
    window.location.href = "http://hackathonmerdeka.id" + window.location.pathname.substring("/hackathon".length);
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<nav class="navbar" style="z-index:9999999999">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/hackathon/"><img src="/hackathon/img/MDK.png" height="48px"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                          <li><a class="page-link" href="{{ site.baseurl }}/">Teras</a></li>
                          <li><a class="page-link" href="{{ site.baseurl }}/registrasi/">Registrasi</a></li>
                          <li><a class="page-link" href="{{ site.baseurl }}/tema-dan-tantangan/">Tema dan Tantangan</a></li>
						  <li><a class="page-link" href="{{ site.baseurl }}/peraturan-dan-panduan/">Peraturan dan Panduan</a></li>
						  <li class="visible-sm"><a class="page-link" href="{{ site.baseurl }}/partner/">Partner</a></li>
						  <li class="visible-sm"><a class="page-link" href="{{ site.baseurl }}/tentang-kami/">Tentang Kami</a></li>
						  <li class="visible-sm"><a class="page-link" href="{{ site.baseurl }}/hackathon-sebelumnya/">Hackathon Sebelumnya</a></li>
						  
						
                       
						<li class="dropdown open">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
						  <ul class="dropdown-menu">
							  <li><a class="page-link" href="{{ site.baseurl }}/partner/">Partner</a></li>
							  <li><a class="page-link" href="{{ site.baseurl }}/tentang-kami/">Tentang Kami</a></li>
							  <li><a class="page-link" href="{{ site.baseurl }}/hackathon-sebelumnya/">Hackathon Sebelumnya</a></li>
						  </ul>
						</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
</nav>
