<script>
  if(location.hostname == "code4nation.github.io"){
    window.location.href = "http://hackathonmerdeka.id" + window.location.pathname.substring("/hackathon".length);
  }
</script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<nav class="navbar" style="z-index:9999999999">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/hackathon/"><img src="/hackathon/img/MDK.png" height="48px"></a>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                       {% assign pages = site.pages | sort:"order" %}
						{% for page in pages %}
						  {% if page.title %}
						      {% if page.order<=4 %}
							  <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
							  {% else %}
							  <li class="visible-sm"><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
							  {% endif %}
						  {% endif %}
						{% endfor %}
						<li class="dropdown open">
						  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true"><i class="fa fa-circle"></i><i class="fa fa-circle"></i><i class="fa fa-circle"></i></a>
						  <ul class="dropdown-menu">
							{% assign pages = site.pages | sort:"order" %}
							{% for page in pages %}
							  {% if page.title %}
								  {% if page.order>4 %}
								  <li><a class="page-link" href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
								  {% endif %}
							  {% endif %}
							{% endfor %}
						  </ul>
						</li>
                    </ul>
                </div><!--/.nav-collapse -->
            </div>
</nav>
