<script>
        jQuery(document).ready(function ($) {
            
            var jssor_1_options = {
              $AutoPlay: true,
              $SlideDuration: 800,
              $SlideEasing: $Jease$.$OutQuint,
              $ArrowNavigatorOptions: {
                $Class: $JssorArrowNavigator$
              },
              $BulletNavigatorOptions: {
                $Class: $JssorBulletNavigator$
              }
            };
            
            var jssor_1_slider = new $JssorSlider$("jssor_1", jssor_1_options);
            
            //responsive code begin
            //you can remove responsive code if you don't want the slider scales while window resizes
            function ScaleSlider() {
                var refSize = jssor_1_slider.$Elmt.parentNode.clientWidth;
                if (refSize) {
                    refSize = Math.min(refSize, 1920);
                    jssor_1_slider.$ScaleWidth(refSize);
                }
                else {
                    window.setTimeout(ScaleSlider, 30);
                }
            }
            ScaleSlider();
            $(window).bind("load", ScaleSlider);
            $(window).bind("resize", ScaleSlider);
            $(window).bind("orientationchange", ScaleSlider);
            //responsive code end
        });
    </script>
<style>
        body{
		overflow-x:hidden;
		}
        /* jssor slider bullet navigator skin 05 css */
        /*
        .jssorb05 div           (normal)
        .jssorb05 div:hover     (normal mouseover)
        .jssorb05 .av           (active)
        .jssorb05 .av:hover     (active mouseover)
        .jssorb05 .dn           (mousedown)
        */
        .jssorb05 {
            position: absolute;
        }
        .jssorb05 div, .jssorb05 div:hover, .jssorb05 .av {
            position: absolute;
            /* size of bullet elment */
            width: 16px;
            height: 16px;
            background: url('img/b05.png') no-repeat;
            overflow: hidden;
            cursor: pointer;
        }
        .jssorb05 div { background-position: -7px -7px; }
        .jssorb05 div:hover, .jssorb05 .av:hover { background-position: -37px -7px; }
        .jssorb05 .av { background-position: -67px -7px; }
        .jssorb05 .dn, .jssorb05 .dn:hover { background-position: -97px -7px; }

        /* jssor slider arrow navigator skin 22 css */
        /*
        .jssora22l                  (normal)
        .jssora22r                  (normal)
        .jssora22l:hover            (normal mouseover)
        .jssora22r:hover            (normal mouseover)
        .jssora22l.jssora22ldn      (mousedown)
        .jssora22r.jssora22rdn      (mousedown)
        */
        .jssora22l, .jssora22r {
            display: block;
            position: absolute;
            /* size of arrow element */
            width: 40px;
            height: 58px;
            cursor: pointer;
            background: url('img/a22.png') center center no-repeat;
            overflow: hidden;
        }
        .jssora22l { background-position: -10px -31px; }
        .jssora22r { background-position: -70px -31px; }
        .jssora22l:hover { background-position: -130px -31px; }
        .jssora22r:hover { background-position: -190px -31px; }
        .jssora22l.jssora22ldn { background-position: -250px -31px; }
        .jssora22r.jssora22rdn { background-position: -310px -31px; }
    </style>	

<div id="jssor_1" style="position: relative; margin: 0 auto; top: 0px; left: 0px; width: 1300px; height: 600px; overflow: hidden; visibility: hidden;">
        <!-- Loading Screen -->
        <div data-u="loading" style="position: absolute; top: 0px; left: 0px;">
            <div style="filter: alpha(opacity=70); opacity: 0.7; position: absolute; display: block; top: 0px; left: 0px; width: 100%; height: 100%;"></div>
            <div style="position:absolute;display:block;background:url('img/loading.gif') no-repeat center center;top:0px;left:0px;width:100%;height:100%;"></div>
        </div>
        <div data-u="slides" style="cursor: default; position: relative; top: 0px; left: 0px; width: 1300px; height: 600px; overflow: hidden;">
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/1.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/2.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/3.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/4.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/5.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/6.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/7.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/8.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/9.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/10.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/11.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/12.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/13.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/14.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/15.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/16.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/17.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/18.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/19.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/20.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/21.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/22.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/23.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/24.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/25.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/26.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/27.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/28.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/29.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/30.jpg" />
            </div>
            <div data-p="225.00" style="display: none;">
                <img data-u="image" src="{{ site.baseurl }}/img/h3/slide/31.jpg" />
            </div>            
            
        </div>
        <!-- Bullet Navigator -->
        <div data-u="navigator" class="jssorb05" style="bottom:16px;right:6px;" data-autocenter="1">
            <!-- bullet navigator item prototype -->
            <div data-u="prototype" style="width:16px;height:16px;"></div>
        </div>
        <!-- Arrow Navigator -->
        <span data-u="arrowleft" class="jssora22l" style="top:123px;left:12px;width:40px;height:58px;" data-autocenter="2"></span>
        <span data-u="arrowright" class="jssora22r" style="top:123px;right:12px;width:40px;height:58px;" data-autocenter="2"></span>        
</div>

 <div class="row">
    <div class="module white module-top">   
		<div class="container">  
			<center><h2><strong>Apakah kamu:</strong></h2></center>
			<center><div class="xr-black"></div></center>
			<ul>
			  <li>Letih mendengar berita tentang <strong style="color:#bb2526">korupsi</strong> di Indonesia saat ini?</li>
			  <li>Sering menemukan sistem IT di sekeliling kamu yang membuat kamu berpikir "Ah, andaikan Indonesia punya sistem seperti ini juga"?</li>
			  <li>Ingin merubah Indonesia menjadi lebih baik?</li>
			</ul>
			<center><p>Jika poin di atas terasa akrab bagi kamu, kami mengajak kamu untuk membantu tanah air kita tercinta melalui Hackathon Merdeka 3.0!</p></center>      
		</div>		
  </div>
  <div class="module red">
    <div class="container">
	  <center><h2><strong>Kami memanggil teman-teman Diaspora Indonesia di seluruh dunia!<br>Indonesia membutuhkan kamu!</strong></h2>
	  <center><div class="xr-white"></div></center>
      <img src="{{ site.baseurl }}/img/h3/info/posterGlobal.png" alt="" style="width:100%;"/>
      <center><div class="xr-white"></div></center>
	  <p>
        Setelah Hackathon Merdeka 1.0 dan 2.0 berhasil menjaring partisipasi ribuan software developer dari seluruh penjuru Nusantara, kali ini kami berkerjasama dengan KPK dan ICW untuk mengajak diaspora Indonesia dari seluruh penjuru dunia untuk membangun solusi IT untuk membantu permasalahan korupsi dan integritas dalam masyarakat, institusi, dan pemerintahan Indonesia.        
      </p> 
      </center>	  
    </div>
  </div>
  
  <div class="module white">
    <div class="container">
      <article class="post-content text-center" style="color:#bb2526;">
	    <center><h2><strong>Apakah kamu punya ide untuk membantu menyelesaikan permasalahan korupsi dan integritas dalam masyarakat, institusi, dan pemerintahan Indonesia?</strong></h2></center>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-3">
            <center><div class="img-circle-mdk"><i class="fa fa-bullhorn fa-4"></i></div></center>
            <article class="post-content text-center" style="color:#bb2526;">
              <h2>Ikuti terus pengumuman dari kami</h2>
            </article>
          </div>
          <div class="col-lg-3">
            <center><div class="img-circle-mdk"><i class="fa fa-users fa-4"></i></div></center>
            <article class="post-content text-center" style="color:#bb2526;">
              <h2>Ajak teman kamu dan bentuk tim</h2>
            </article>
          </div>
          <div class="col-lg-3">
            <center><div class="img-circle-mdk"><i class="fa fa-pencil-square-o"></i></div></center>
            <article class="post-content text-center" style="color:#bb2526;">
              <h2><a href="#registrasi" style="color:#bb2526;text-decoration: none;">Daftar segera di sini</a></h2>
            </article>
          </div>
          <div class="col-lg-3">
            <center><div class="img-circle-mdk"><i class="fa fa-leanpub fa-4"></i></div></center>
            <article class="post-content text-center" style="color:#bb2526;">
              <h2><a href="#tema-dan-tantangan" style="color:#bb2526;text-decoration: none;">Pelajari tema dan tantangan Hackathon Merdeka 3.0</a></h2>
            </article>
          </div>
        </div>
      </article>
    </div>
  </div>
  <div class="module red" id="tema-dan-tantangan">
    <div class="container">
	  <center><h2><strong>Tantangan apa yang bisa kita atasi melalui Hackathon Merdeka 3.0?</strong></h2></center>
      <center><div class="xr-white"></div></center>
	  <p>Korupsi adalah kejahatan luar biasa, sehingga upaya pemberantasan korupsi harus dilakukan secara luar biasa. Tujuan Hackathon Merdeka 3.0 adalah menghasilkan inovasi IT yang dapat membantu menciptakan sistem integritas, dan membantu menanamkan nilai-nilai integritas di masyarakat dan di sektor publik.</p>      
      <p>Untuk terciptanya sistem integritas, Indonesia memerlukan:</p>
	  <ol>
		  <li>Institutional Restraints 
			<ul>
			  <li>Peradilan yang independen dan akuntable dengan penegak hukum yang adil dan independen</li>
			</ul>
		  </li>
		  <li>Civil Society Participation 
			<ul>
			  <li>Adanya keterbukaan informasi publik</li>
			  <li>Masyarakat dapat berpartisipasi dalam pengambilan keputusan publik</li>
			  <li>Masyarakat dapat memonitor pelaksanaan pembangunan.</li>
			</ul>
		  </li>
		  <li>Public Sector Management
			<ul>
			  <li>Meritokrasi rekruitmen dan kinerja PNS</li>
			  <li>Manajemen anggaran yang profesional (transparan dan akuntable)</li>
			  <li>Pelayanan umum yang prima</li>
			</ul>
		  </li>
		  <li>Political Accountability
			<ul>
			  <li>Transparansi dan akuntabilitas pendanaan partai politik</li>
			  <li>Pengaturan konflik kepentingan</li>
			  <li>Pelaporan harta kekayaan</li>
			</ul>
		  </li>
		</ol>
		<p>Adapun sektor-sektor yang rawan dikorupsi adalah:</p>
		<ol>
		  <li>Pelayanan publik: pendidikan, kesehatan, administrasi kependudukan.</li>
		  <li>Pengadaan barang dan jasa.</li>
		  <li>Pajak dan transaksi ijin pertambangan.</li>
		  <li>Kepabeanan dan bea cukai.</li>
		  <li>Minyak dan gas.</li>
		  <li>Penyelenggaraan haji.</li>
		  <li>BUMN/BUMD.</li>
		</ol>
		<p>Baik sektor-sektor maupun kebutuhan untuk terciptanya sistem integritas sangat beragam dan membuka ruang luas bagi solusi inovatif dan kreatif dari kamu.</p>
	</div>
  </div>
  <div class="module white">
    <div class="container">
	  <center><h2><strong>Apa saja yang harus dikumpulkan?</strong></h2></center>	
	  <center><div class="xr-black"></div></center>      
	  <p>Metode pengumpulan akan diumumkan lebih lanjut, tapi tim kamu akan diharuskan untuk mengumpulkan hasil-hasil sebagai berikut:</p> 
      <ol>
		  <li>Rangkuman singkat tentang konsep aplikasi yang tim kamu bangun.</li>
		  <li>Link ke hasil karya tim kamu. 
			<ul>
			  <li>Untuk mobile apps bisa dalam bentuk link ke file .apk atau iOS app yang ditaruh di file host eksternal seperti Dropbox atau Google Drive.</li>
			  <li>Untuk web-based apps bisa dalam bentuk link ke hosted web app yang bisa diakses oleh publik. </li>
			</ul>
		  </li>
		  <li>Link ke video YouTube yang berisikan video presentasi konsep yang tim kamu bangun dalam hackathon ini. Presentasi konsep ini dibatasi maksimal 5 menit.</li>
		  <li>Link ke video YouTube yang berisikan video demonstrasi aplikasi yang kamu bangun dalam Hackathon Merdeka 3.0. Demo aplikasi ini dibatasi maksimal 5 menit.</li>
		</ol>  
    </div>
  </div>
  <div class="module red">
    <div class="container">
	  <center><h2><strong>Hadiah apa yang disediakan bagi para pemenang Hackathon Merdeka 3.0?</strong></h2></center>	
	  <center><div class="xr-white"></div></center>      
	  <p>Hackathon Merdeka 3.0 menyediakan total hadiah bagi para pemenang sebesar 100 juta rupiah.</p> 
    </div>
  </div>
  {% include partners.html %}
</div>  

