<div class="post">
  <div class="merdeka">
    <div class="container text-center" style="background-color:transparent;">
      <div class="thumb">
        <div class="content">
          <div class="title">HACKATHON MERDEKA 3.0</div>
          <h2><i class="fa fa-calendar"></i> 5 - 6 Desember 2015</h2>
          <h2><i class="fa fa-map-o"></i>Serentak di X Negara</h2>
          <a href="{{ site.baseurl }}/registrasi" class="btn btn-danger">Daftar</a>
        </div>
      </div>
    </div>
  </div>
  <div class="module white module-top">
    
    <div class="container" style="color:#bb2526;padding-top:50px;">
      <center><div class="xr"></div></center>
      <article class="post-content">
        <h2>Apakah kamu:</h2>
        <hr>
        <ul>
		  <li>Letih mendengar berita tentang situasi di Indonesia saat ini?</li>
		  <li>Sering menemukan sistem IT di sekeliling kamu yang membuat kamu berpikir "Ah, andaikan Indonesia punya sistem seperti ini juga"?</li>
		  <li>Ingin merubah Indonesia menjadi lebih baik, tapi kamu tinggal jauh dari Indonesia?</li>
		</ul>
        <p>Jika poin di atas terasa akrab bagi kamu, kami mengajak kamu untuk membantu tanah air kita tercinta melalui Hackathon Merdeka 3.0!</p>
		<p><img src="{{ site.baseurl }}/img/h3/info/poster.jpg" alt="" style="width:100%;"/></p>
      </article>
    </div>
    <div class='content-container  embed-container  maps'>
      <!--<iframe style="pointer-events: none;" src="https://www.google.com/maps/d/u/5/embed?mid=z4pTcO-jW240.kNRfjhoSCo-s" class="iframe-map" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
      <iframe style="pointer-events: none;" src="http://hackathonmerdeka.petakita.com/?go=home.frame" class="iframe-map" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>-->
    </div>
    <div class="container" style="color:#bb2526;padding-top:30px;">
      <article class="post-content text-center">
        Setelah Hackathon Merdeka 1.0 dan 2.0 berhasil menjaring partisipasi ribuan software developer dari seluruh penjuru Nusantara, kali ini kami berkerjasama dengan KPK dan ICW untuk mengajak diaspora Indonesia dari seluruh penjuru dunia untuk membangun solusi IT untuk membantu permasalahan korupsi dan integritas dalam masyarakat, institusi, dan pemerintahan Indonesia..        
      </article>
    </div>
  </div>
  <div class="module red">
    <div class="container">
      <article class="teaser">
        <iframe src="https://www.youtube.com/embed/6wbYu-CmUXg" frameborder="0" allowfullscreen></iframe>
      </article>
      <center><div class="xr-white"></div></center>
      <article class="post-content text-center">
        <h2></h2>
        <div class="row" style="padding-top:15px;">
          
        </div>
        <div class="row" style="padding-top:15px;">
          
        </div>
      </article>
    </div>
  </div>
  <div class="merdeka-div"></div>
  <div class="module white" style="padding-top: 50px; padding-bottom: 0">
    <div class="container">
      <article class="post-content text-center" style="color:#bb2526;">
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-3">
            <center><div class="img-circle-mdk"><i class="fa fa-bullhorn fa-4"></i></div></center>
            <article class="post-content text-center" style="color:#bb2526;">
              <h2>Ikuti terus pengumuman dari kami</h2>
            </article>
          </div>
          <div class="col-lg-3">
            <center><div class="img-circle-mdk"><i class="fa fa-users fa-4"></i></div></center>
            <article class="post-content text-center" style="color:#bb2526;">
              <h2>Ajak teman kamu dan bentuk tim</h2>
            </article>
          </div>
          <div class="col-lg-3">
            <center><div class="img-circle-mdk"><i class="fa fa-pencil-square-o"></i></div></center>
            <article class="post-content text-center" style="color:#bb2526;">
              <h2><a href="registrasi" style="color:#bb2526;text-decoration: none;">Daftar segera di sini</a></h2>
            </article>
          </div>
          <div class="col-lg-3">
            <center><div class="img-circle-mdk"><i class="fa fa-leanpub fa-4"></i></div></center>
            <article class="post-content text-center" style="color:#bb2526;">
              <h2><a href="tema-dan-tantangan" style="color:#bb2526;text-decoration: none;">Pelajari tema dan tantangan Hackathon Merdeka 3.0</a></h2>
            </article>
          </div>
        </div>
      </article>
    </div>
  </div>
  {% include partners.html %}
</div>
