<div>
<a href="https://docs.google.com/spreadsheets/d/1-LmM0QvQt61A77YO3Pcr951mIGfFrLubhyPEth9fZ7I/pubhtml?gid=0&single=true" target="gdoc">Sumber</a><br>
<iframe src="https://docs.google.com/spreadsheets/d/1-LmM0QvQt61A77YO3Pcr951mIGfFrLubhyPEth9fZ7I/pubhtml?gid=0&amp;single=true&amp;widget=true&amp;headers=false" class="iframe-gdoc" style="height:600px;" frameborder="0" marginheight="0" marginwidth="0"></iframe>    
<br>
<br>
<iframe src="https://docs.google.com/presentation/d/17iT2IaZTlHRgeILJYmeZXa19aKwsl3-ghQvH9Ci7VJ4/htmlpresent" class="iframe-gdoc" style="height:600px;" frameborder="0" marginheight="0" marginwidth="0"></iframe>    
</div>
