<div class="module white" style="margin-top: 0px;">
    <div class="container">
      <article class="post-content text-center" style="color:#bb2526;">
      	<div class="col-lg-11">
          <h2>Diselenggarakan oleh:</h2>
          <a href="http://code4nation.id" target="_blank"><img src="{{ site.baseurl }}/img/C4N1.png" width="342" height="64" alt="" title="Code4Nation" ></a>
          <br>
          <br>
          <h2>Bersama Partner-Partner Nasional:</h2>
          <hr>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-3">
            <h4>Ultimate Partner</h4>
            <img src="{{ site.baseurl }}/img/h2/part/Telkom.jpg" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-3">
            <h4>Cloud Provider</h4>
            <img src="{{ site.baseurl }}/img/h2/part/CloudKilat.jpg" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-5">
            <h4>Media Partner</h4>
            <img src="{{ site.baseurl }}/img/h2/part/Lip6com super-hires.png" alt="" style="width:100%;"/>
            <img src="{{ site.baseurl }}/img/h2/part/Vidiocom.png" alt="" style="width:100%;"/>
          </div>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-3">
            <h4>T-Shirt</h4>
            <img src="{{ site.baseurl }}/img/h2/part/foreverstore.jpg" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-5">
            <h4>Tech Partner</h4>
            <img src="{{ site.baseurl }}/img/h2/part/KitaBisa.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-3">
            <h4>Community Partner</h4>
            <img src="{{ site.baseurl }}/img/h2/part/Agnium.jpg" alt="" style="width:100%;"/>
          </div>
        </div>
        <br>
        <br>
        <div class="col-lg-11">
          <h2>Serta Partner-Partner Lokal:</h2>
          <hr>
        </div>
        <div class="col-lg-11">
          <br>
          <br>
          <hr>
          <h3>Bali</h3>
          <hr>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/bali/Bali - Primakara_Flat_Ver.jpg" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/bali/logo-ipaymu.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/bali/Logo - Kumpul coworking space.png" alt="" style="width:100%;"/>
          </div>
        </div>
        <div class="col-lg-11">
          <br>
          <br>
          <hr>
          <h3>Bandung</h3>
          <hr>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-5">
            <h4>Coworking Partner</h4>
            <img src="{{ site.baseurl }}/img/h2/part/bandung/Co n Co - Official Gathering Place.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-5">
            <h4>Community Partner</h4>
            <img src="{{ site.baseurl }}/img/h2/part/bandung/Fowab - Community Partner.png" alt="" style="width:100%;"/>
          </div>
        </div>
        <div class="col-lg-11">
          <br>
          <br>
          <hr>
          <h3>Garut</h3>
          <hr>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/garut/Pemkab Garut.gif" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/garut/STTG.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/garut/Telkomsel.png" alt="" style="width:100%;"/>
          </div>
        </div>
        <div class="col-lg-11">
          <br>
          <br>
          <hr>
          <h3>Jogja</h3>
          <hr>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-4">&nbsp;</div>
          <div class="col-lg-3">
            <h4>Community Partner</h4>
            <img src="{{ site.baseurl }}/img/h2/part/jogja/logo-aditif.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-4">&nbsp;</div>
        </div>
        <div class="col-lg-11">
          <br>
          <br>
          <hr>
          <h3>Malang</h3>
          <hr>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-4">&nbsp;</div>
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/malang/pengadaan.net.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-4">&nbsp;</div>
        </div>
        <div class="col-lg-11">
          <br>
          <br>
          <hr>
          <h3>Tangerang</h3>
          <hr>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-4">&nbsp;</div>
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/tangerang/Tangerang - What's On Pamulang HiRes.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-4">&nbsp;</div>
        </div>
        <div class="col-lg-11">
          <br>
          <br>
          <hr>
          <h3>Wonosobo</h3>
          <hr>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Exist Cafe.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/wonosobo/logo_yuasa.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Pemkab_Wonosobo.png" alt="" style="width:100%;"/>
          </div>
        </div>
        <div class="row" style="padding-top:30px;">
          <div class="col-lg-3">
            <h4>&nbsp;</h4>
            <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Rakazone21.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-3">
            <h4>Community Partner</h4>
            <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Suport Comunity - Dieng Cyber Wonosobo.png" alt="" style="width:100%;"/>
          </div>
          <div class="col-lg-1">&nbsp;</div>
          <div class="col-lg-3">
            <h4>Community Partner</h4>
            <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Support Comunity.png" alt="" style="width:100%;"/>
          </div>
        </div>
      </article>
    </div>
  </div>
