<div class="module white" style="margin-top: 0px;">
  <div class="container">
    <article class="post-content text-center" style="color:#bb2526;">
      <div class="col-lg-11">
        <h2>Diselenggarakan oleh:</h2>
        <a href="http://code4nation.id" target="_blank">
          <img src="{{ site.baseurl }}/img/C4N1.png" width="342" height="64" alt="Code4Nation.id">
        </a>
        <br>
        <br>
        <h2>Bersama Partner-Partner Nasional:</h2>
        <hr>
      </div>
<div class="row" style="padding-top:30px;">
<div class="col-lg-11">
  <br>
  <br>
  <h4>Ultimate Partner</h4>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-6">
    
  </div>
  <div class="col-lg-6">
    
  </div>
</div>
</div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-4">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
       <h4>Streaming Partner</h4>
      
    </div>
    <div class="col-lg-4">&nbsp;</div>
  </div>
      <div class="row" style="padding-top:30px;">
        <div class="col-lg-5">
          <h4>Cloud Provider</h4>
          <img src="{{ site.baseurl }}/img/h2/part/CloudKilat.jpg">
        </div>
        <div class="col-lg-5">
          <h4>Media Partner</h4>
          
        </div>
      </div>
      <div class="row" style="padding-top:30px;">
        <div class="col-lg-3">
          <h4>General Partner</h4>
          
        </div>
        <div class="col-lg-3">
          <h4>Tech Partner</h4>
          
        </div>
        <div class="col-lg-3">
          <h4>Community Partner</h4>
          
        </div>
      </div>
      <br>
      <br>
      <div class="col-lg-11">
        <h2>Serta Partner-Partner Di tiap Negara:</h2>
        <hr>
      </div>
      <div class="col-lg-11">
        <br>
        <br>
        <hr>
        <h3>Malaysia</h3>
        <hr>
      </div>
      <div class="row" style="padding-top:30px;">
        <div class="col-lg-3">
          <h4>&nbsp;</h4>
          
        </div>
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-3">
          <h4>&nbsp;</h4>
          
        </div>
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-3">
          <h4>&nbsp;</h4>
         
        </div>
      </div>
      
  
    </article>
  </div>
</div>
