<div class="module white" style="margin-top: 0px;">
  <div class="container">
    <article class="post-content text-center" style="color:#bb2526;">
      <div class="col-lg-11">
        <h2>Diselenggarakan oleh:</h2>
        <a href="http://code4nation.id" target="_blank">
          <img src="{{ site.baseurl }}/img/C4N1.png" width="342" height="64" alt="Code4Nation.id">
        </a>
        <br>
        <br>
        <h2>Bersama Partner-Partner Nasional:</h2>
        <hr>
      </div>
<div class="row" style="padding-top:30px;">
<div class="col-lg-11">
  <br>
  <br>
  <h4>Ultimate Partner</h4>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-6">
    <img src="{{ site.baseurl }}/img/h2/part/DILO.png">
  </div>
  <div class="col-lg-6">
    <img src="{{ site.baseurl }}/img/h2/part/Telkom.png">
  </div>
</div>
</div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-4">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
       <h4>Streaming Partner</h4>
      <img src="{{ site.baseurl }}/img/h2/part/UseeTV.png">
    </div>
    <div class="col-lg-4">&nbsp;</div>
  </div>
      <div class="row" style="padding-top:30px;">
        <div class="col-lg-5">
          <h4>Cloud Provider</h4>
          <img src="{{ site.baseurl }}/img/h2/part/CloudKilat.jpg">
        </div>
        <div class="col-lg-5">
          <h4>Media Partner</h4>
          <img src="{{ site.baseurl }}/img/h2/part/Lip6com super-hires.png">
          <img src="{{ site.baseurl }}/img/h2/part/pasangmata.jpg">
          <img src="{{ site.baseurl }}/img/h2/part/merdeka.png">
        </div>
      </div>
      <div class="row" style="padding-top:30px;">
        <div class="col-lg-3">
          <h4>General Partner</h4>
          <img src="{{ site.baseurl }}/img/h2/part/foreverstore.png">
          <img src="{{ site.baseurl }}/img/h2/part/mataharimall.png">
           <img src="{{ site.baseurl }}/img/h2/part/sidomuncul.png">
        </div>
        <div class="col-lg-3">
          <h4>Tech Partner</h4>
          <img src="{{ site.baseurl }}/img/h2/part/KitaBisa.png">
          <img src="{{ site.baseurl }}/img/h2/part/jepret.jpg">
        </div>
        <div class="col-lg-3">
          <h4>Community Partner</h4>
          <img src="{{ site.baseurl }}/img/h2/part/agnium_logo_white_red.png">
          <img src="{{ site.baseurl }}/img/h2/part/jlp_base_red.png">
          <img src="{{ site.baseurl }}/img/h2/part/Logo-Petakita-Merah-PNG.png">
        </div>
      </div>
      <br>
      <br>
      <div class="col-lg-11">
        <h2>Serta Partner-Partner Lokal:</h2>
        <hr>
      </div>
      <div class="col-lg-11">
        <br>
        <br>
        <hr>
        <h3>Bali</h3>
        <hr>
      </div>
      <div class="row" style="padding-top:30px;">
        <div class="col-lg-3">
          <h4>&nbsp;</h4>
          <img src="{{ site.baseurl }}/img/h2/part/bali/Bali - Primakara_Flat_Ver.jpg">
        </div>
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-3">
          <h4>&nbsp;</h4>
          <img src="{{ site.baseurl }}/img/h2/part/bali/logo-ipaymu.png">
        </div>
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-3">
          <h4>&nbsp;</h4>
          <img src="{{ site.baseurl }}/img/h2/part/bali/Logo - Kumpul coworking space.png">
        </div>
      </div>
      <div class="row" style="padding-top:30px;">
        <div class="col-lg-3">
          <h4>&nbsp;</h4>
          <img src="{{ site.baseurl }}/img/h2/part/bali/Gamedev.png">
        </div>
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-3">
          <h4>&nbsp;</h4>
          <img src="{{ site.baseurl }}/img/h2/part/bali/Subali.png">
        </div>
        <div class="col-lg-1">&nbsp;</div>
        <div class="col-lg-3">
          <h4>&nbsp;</h4>
          <img src="{{ site.baseurl }}/img/h2/part/bali/Melali.png">
        </div>
        <div class="col-lg-1">&nbsp;</div>
      </div>
  <div>
    <br>
    <br>
    <hr>
    <h3>Bandung</h3>
    <hr>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-3">
      <h4>Venue Partner</h4>
      <img src="{{ site.baseurl }}/img/h2/part/bandung/BandungDV.jpg">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>Coworking Partner</h4>
      <img src="{{ site.baseurl }}/img/h2/part/bandung/Co n Co - Official Gathering Place.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>Community Partner</h4>
      <img src="{{ site.baseurl }}/img/h2/part/bandung/Fowab - Community Partner.png">
      <img src="{{ site.baseurl }}/img/h2/part/bandung/modipla.jpg">
    </div>
  </div>
  <div>
    <br>
    <br>
    <hr>
    <h3>Bogor</h3>
    <hr>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-5">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/bogor/ MIKTI.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-5">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/bogor/DILo.png">
    </div>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/bogor/Logo-aksimaya.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/bogor/Pemkot Bogor.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/bogor/carii-logo-750x280.png">
    </div>
  </div>

  <div class="col-lg-11">
    <br>
    <br>
    <hr>
    <h3>Garut</h3>
    <hr>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/garut/Pemkab Garut.gif">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/garut/STTG.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/garut/Telkomsel.png">
    </div>
  </div>
  <div class="col-lg-11">
    <br>
    <br>
    <hr>
    <h3>Jogja</h3>
    <hr>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-5">
      <h4></h4>
      <img src="{{ site.baseurl }}/img/h2/part/jogja/JogjaDV.jpg">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-5">
      <h4></h4>
      <img src="{{ site.baseurl }}/img/h2/part/jogja/logo-aditif.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-5">
      <h4></h4>
      <img src="{{ site.baseurl }}/img/h2/part/jogja/logo-landscape.png">
    </div>
  </div>
  <div class="col-lg-11">&nbsp;</div>
</div>
<div class="col-lg-11">
  <br>
  <br>
  <hr>
  <h3>Makassar</h3>
  <hr>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-2">
    <h4>Coworking Partner</h4>
    <img src="{{ site.baseurl }}/img/h2/part/makassar/0.png">
  </div>
  <div class="col-lg-2">
    <h4>Startup Pendukung</h4>
    <img src="{{ site.baseurl }}/img/h2/part/makassar/xgaf.jpg">
    <img src="{{ site.baseurl }}/img/h2/part/makassar/2.jpg">
    <img src="{{ site.baseurl }}/img/h2/part/makassar/11.jpg">
    <img src="{{ site.baseurl }}/img/h2/part/makassar/7.jpg">
    <img src="{{ site.baseurl }}/img/h2/part/makassar/3.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-2">
    <h4>Media Partner</h4>
    <img src="{{ site.baseurl }}/img/h2/part/makassar/9.jpg">
    <img src="{{ site.baseurl }}/img/h2/part/makassar/5.png">
    <img src="{{ site.baseurl }}/img/h2/part/makassar/4.jpg">
    <img src="{{ site.baseurl }}/img/h2/part/makassar/8.png">
    <img src="{{ site.baseurl }}/img/h2/part/makassar/6.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-2">
    <h4>Community Partner</h4>
    <img src="{{ site.baseurl }}/img/h2/part/makassar/1.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-2">
    <h4>Documentation</h4>
    <img src="{{ site.baseurl }}/img/h2/part/makassar/10.jpg">
  </div>
</div>
<div class="col-lg-11">
  <br>
  <br>
  <hr>
  <h3>Malang</h3>
  <hr>
</div>
<div class="col-lg-11">
  <br>
  <h4>Local Sponsors</h4>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/brilio.png">
  </div>
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/merdeka.png">
  </div>
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/kapanlagi.png">
  </div>
</div>
<div class="row" style="padding-top:45px;">
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/hello-nemo.png" style="width: 256px;">
  </div>
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/Pengadaannet.png">
  </div>
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/dilo-malang.png" style="width: 256px;">
  </div>
</div>
<div class="row" style="padding-top:45px;">
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/display.png" style="height: 160px;">
  </div>
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/ayok-studio.jpg" style="height: 160px">
  </div>
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/ayam-nelongso.jpg" style="width: 180px;margin-top: 30px;">
  </div>
</div>
<div class="col-lg-11">
  <br>
  <br>
  <h4>Media Partners</h4>
</div>
<div class="row" style="padding-top:45px;">
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/acara-apa.png" style="width: 256px;margin-top:30px;">
  </div>
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/prkm-malang.jpeg" style="width: 160px;">
  </div>
  <div class="col-lg-4">
    <img src="{{ site.baseurl }}/img/h2/part/malang/malang-times.png" style="width: 200px;">
  </div>
</div>
<div class="col-lg-11">
  <br>
  <br>
  <h4>Community Partners</h4>
</div>
<div class="row" style="padding-top:45px;">
  <div class="col-lg-6">
    <img src="{{ site.baseurl }}/img/h2/part/malang/php-malang-user-group.png" style="width: 300px;">
  </div>
  <div class="col-lg-6">
    <img src="{{ site.baseurl }}/img/h2/part/malang/stasion.png" style="width: 300px;">
  </div>
</div>
<div class="col-lg-11">
  <br>
  <br>
  <hr>
  <h3>Medan</h3>
  <hr>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/Telkom.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/indigo.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/DILo.png">
  </div>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-5">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/forum.jpg">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-5">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/mikti.jpg">
  </div>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/City Radio Logo (Sept 2014).png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/Medan FM.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/LOGO KABAR MEDAN NEW.jpg">
  </div>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/logo_medan_bisnis.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/matakail.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/MOTEN.jpg">
  </div>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/MOXQITTO.jpg">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/Otten.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/SirupKurnia.jpg">
  </div>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/RENJIRO LOGO.jpg">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/analisadaily.jpg">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/medan/Logo Jurnal Asia 2014 Final-01.png">
  </div>
</div>
<div class="col-lg-11">
  <br>
  <br>
  <hr>
  <h3>Palembang</h3>
  <hr>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-3">
    <h4>Media Partner</h4>
    <img src="{{ site.baseurl }}/img/h2/part/palembang/LOGO XPRESI SUMEKS.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>Media Partner</h4>
    <img src="{{ site.baseurl }}/img/h2/part/palembang/sripo.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>Media Partner</h4>
    <img src="{{ site.baseurl }}/img/h2/part/palembang/tribunsumsel.jpg">
  </div>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/palembang/Favicon2.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/palembang/IMG_3149.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/palembang/Logo Fix+fix.png">
  </div>
</div>
<div class="col-lg-11">
  <br>
  <br>
  <hr>
  <h3>Pekanbaru</h3>
  <hr>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-3">
    <h4>Local Sponsor</h4>
    <img src="{{ site.baseurl }}/img/h2/part/pekanbaru/DM.png">
    <img src="{{ site.baseurl }}/img/h2/part/pekanbaru/Kaos Tanjak.jpg">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>Community Partner</h4>
    <img src="{{ site.baseurl }}/img/h2/part/pekanbaru/KPLI Pekanbaru.jpg">
    <img src="{{ site.baseurl }}/img/h2/part/pekanbaru/Bertuah.png">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-3">
    <h4>Media Partner</h4>
    <img src="{{ site.baseurl }}/img/h2/part/pekanbaru/Riau Online.png">
    <img src="{{ site.baseurl }}/img/h2/part/pekanbaru/KB Gurindam12.png">
  </div>
</div>
<div class="col-lg-11">
  <br>
  <br>
  <hr>
  <h3>Pontianak</h3>
  <hr>
</div>
<div class="row" style="padding-top:30px;">
  <div class="col-lg-5">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/pontianak/Logo BEM FT.jpg">
  </div>
  <div class="col-lg-1">&nbsp;</div>
  <div class="col-lg-5">
    <h4>&nbsp;</h4>
    <img src="{{ site.baseurl }}/img/h2/part/pontianak/Logo Delapan.png">
  </div>
</div>
  <div class="col-lg-11">
    <br>
    <br>
    <hr>
    <h3>Semarang</h3>
    <hr>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/semarang/cremolor.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/semarang/ikitas.jpg">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/semarang/logotype.png">
    </div>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/semarang/logo-300x88.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/semarang/pelangi.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/semarang/RECTmedia-72dpi.png">
    </div>
  </div>
  <div class="col-lg-11">
    <br>
    <br>
    <hr>
    <h3>Surabaya</h3>
    <hr>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/150724 LOGO BRILIO WHITE BACKGROUND.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/Logo-Sevima_terpilih.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/sidoMunculLogo.png">
    </div>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/Garuda HT-upld.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/Logo Kapanlagi-revisi.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/logo merdeka.com.png">
    </div>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/danielhp_dan_rekan.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/gerdhu.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/logo UC.png">
    </div>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/suwec.png">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/TOP Coffee_new.PNG">
    </div>
    <div class="col-lg-1">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/surabaya/ubaya.png">
    </div>
  </div>
  <div class="col-lg-11">
    <br>
    <br>
    <hr>
    <h3>Sydney</h3>
    <hr>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-4">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/sydney/aic.jpg">
    </div>
    
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/sydney/freelancer.jpg">
    </div>
    
    <div class="col-lg-4">&nbsp;</div>
  </div>
  <div class="col-lg-11">
    <br>
    <br>
    <hr>
  <div class="col-lg-11">
    <br>
    <br>
    <hr>
    <h3>Tangerang</h3>
    <hr>
  </div>
  <div class="row" style="padding-top:30px;">
    <div class="col-lg-4">&nbsp;</div>
    <div class="col-lg-3">
      <h4>&nbsp;</h4>
      <img src="{{ site.baseurl }}/img/h2/part/tangerang/Tangerang - What's On Pamulang HiRes.png">
    </div>
    <div class="col-lg-4">&nbsp;</div>
  </div>
  <div class="col-lg-11">
    <br>
    <br>
    <hr>
    <div class="col-lg-11">
      <br>
      <br>
      <hr>
      <h3>Toba</h3>
      <hr>
    </div>
    <div class="row" style="padding-top:30px;">
      <div class="col-lg-4">&nbsp;</div>
      <div class="col-lg-3">
        <h4>&nbsp;</h4>
        <img src="{{ site.baseurl }}/img/h2/part/toba/TobaDV.png">
      </div>
      <div class="col-lg-4">&nbsp;</div>
    </div>
    <div class="col-lg-11">
      <br>
      <br>
      <hr>
      <h3>Wonosobo</h3>
      <hr>
    </div>
    <div class="row" style="padding-top:30px;">
      <div class="col-lg-3">
        <h4>&nbsp;</h4>
        <img src="{{ site.baseurl }}/img/h2/part/wonosobo/ewonosobo.png">
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-3">
        <h4>&nbsp;</h4>
        <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Exist Cafe.png">
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-3">
        <h4>&nbsp;</h4>
        <img src="{{ site.baseurl }}/img/h2/part/wonosobo/logo_yuasa.png">
      </div>
    </div>
    <div class="row" style="padding-top:30px;">
      <div class="col-lg-3">
        <h4>&nbsp;</h4>
        <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Pemkab_Wonosobo.png">
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-3">
        <h4>&nbsp;</h4>
        <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Rakazone21.png">
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-3">
        <h4>Media Partner</h4>
        <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Support Media - Wonosobozone.com.jpg">
      </div>
    </div>
    <div class="row" style="padding-top:30px;">
      <div class="col-lg-3">
        <h4>Community Partner</h4>
        <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Suport Comunity - Dieng Cyber Wonosobo.png">
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-3">
        <h4>Community Partner</h4>
        <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Support Comunity.png">
      </div>
      <div class="col-lg-1">&nbsp;</div>
      <div class="col-lg-3">
        <h4>Community Partner</h4>
        <img src="{{ site.baseurl }}/img/h2/part/wonosobo/Support Comunity (1).png">
      </div>
    </div>
    </article>
  </div>
</div>
