/**
 * Site header
 */
 @font-face {
  font-family: "slkscr";
  src: url('../fonts/slkscr.ttf') format('truetype');
}
@font-face {
  font-family: "slkscrb";
  src: url('../fonts/slkscrb.ttf') format('truetype');
}
@font-face {
  font-family: "slkscre";
  src: url('../fonts/slkscre.ttf') format('truetype');
}
@font-face {
  font-family: "slkscreb";
  src: url('../fonts/slkscreb.ttf') format('truetype');
}

.site-header {
    border-bottom: 1px solid #5e5e5e;
    min-height: 56px;
    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: $spacing-unit;
    text-decoration: none;

    &,
    &:visited {
        color: $grey-color-dark;
    }
	
	@include media-query($on-palm) {
	   padding-left: calc(#{$spacing-unit} / 2);
	}
}



.nav {
    line-height: $spacing-unit;

    .page-link {
        color: lighten($text-color, 30%);
        font-size: 14px;
        font-weight: 400;
        line-height: $base-line-height;
        text-decoration: none;
        vertical-align: bottom;

        &:hover{
		  background-color: rgba(0,0,0,0.8);
          color: white;
		}
    }
    
    .text-white-mdk { 
		color: white; 
		
		&:hover{
		  background-color: rgba(0,0,0,0.8);
          color: white;
		}
	}

    @include media-query($on-palm) {
        .text-white-mdk { 
		  color: #5e5e5e;
		}
    }
}

	.navbar-toggle{
			border-color:lighten($text-color, 30%);;
			margin-bottom: 20px;
			margin-top:18px;
		}
	.navbar-toggle .icon-bar {
		background-color: lighten($text-color, 30%);;
	}


.navbar-collapse{
	   margin-top:10px;
	   @include media-query($on-palm) {
	      background-color: rgba(255,255,255,0.9);
	      color:white;
	   }
}



/**
 * Site footer
 */
.site-footer {
    background-color: #1d1d1d;
    color: #b7b7b7;
    font-size: 12px;
    padding: 12px 0;
    text-align: center;
    width: 100%;
    position:absolute;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    color: $grey-color;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

/**
 * Page content
 */
 .post{
    min-height: 600px;
 }
 

.thumb { 
    background-color: transparent; 
    padding-top: 180px;
    color:white;
    
    .content{
		background-color: rgba(0, 0, 0, 0.3);
		padding: 30px;
	}
	.title{
		font-size: 38pt;
		font-family: "slkscre";
	}
	h2{
		font-size: 32px;
		font-weight: 400;
	}
	a{
		text-decoration: none;
		font-size: 20px;
	}
	
    @include media-query($on-palm) {
		padding-top: 120px;
		.title{
			font-size: 28pt;
		  }
		h2{
		font-size: 18px;
	  }
	}
}


.page-content {
    padding-top: 0;
    padding-bottom: 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    color: #fdfdfd;
    font-size: 24px;
    padding: 30px 10px;
	
	@include media-query($on-palm) {
	   padding: 30px calc(#{$spacing-unit} / 2);
	}
}

.post-content {
    margin-bottom: $spacing-unit;
    padding: 0px 10px;
	
	@include media-query($on-palm) {
	  padding: 0 calc(#{$spacing-unit} / 2);
	}

    h2 {
        font-size: 32px;
        font-weight: 400;
        margin: 0;
		margin-bottom:20px;
    }

    h3 {
        font-size: 26px;
    }

    h4 {
        font-size: 20px;
    }
	p{
		padding-top:20px;
	}
}
.module {
    position: relative;
    display: block;
    padding: 50px 20px;
    overflow: hidden;
    margin-top: -1px;
}
.grey {
    background-color: #edeef0;
	}
	.white {
    background-color: white;
	}
	.red {
    background-color: #bb2526;
	color:white;
	}
.teaser {
    display: block;
    margin: 0 auto;
    max-width: 800px;
    text-align: center;
	padding-bottom: 30px;
	
	 iframe{
	    width: 800px;
        height: 450px;
	 }
	 
	 @include media-query($on-palm) {
	    iframe{
	    width: 100%;
        height: 200px;
	   }
	}
}
.img-circle-mdk{
	width:150px;
	height:150px;
	border-radius:50%;
	text-align:center;
	vertical-align:middle;
	 background-color: #bb2526;
	color:white;
	font-size: 70pt;
}
.iframe-gdoc{
	width:100%; 
	height:6000px;
}
.iframe-map{
	width:100%; 
	height:480px;
	overflow:hidden;
	@include media-query($on-palm) {
	height:280px;
	}
}
.iframe-movie{
	width:100%; 
	height:200px;
}
