---
layout: default
---

<script>
	$(document).ready(function() {
		$('.site-header').attr('style','border:0px;');
		// Disable scroll zooming and bind back the click event
		// From http://stackoverflow.com/questions/21992498/disable-mouse-scroll-wheel-zoom-on-embedded-google-maps#answer-25904582
		var onMapMouseleaveHandler = function (event) {
			var that = $(this);
			that.on('click', onMapClickHandler);
			that.off('mouseleave', onMapMouseleaveHandler);
			that.find('iframe').css("pointer-events", "none");
		}
		var onMapClickHandler = function (event) {
			var that = $(this);
			// Disable the click handler until the user leaves the map area
			that.off('click', onMapClickHandler);
			// Enable scrolling zoom
			that.find('iframe').css("pointer-events", "auto");
			// Handle the mouse leave event
			that.on('mouseleave', onMapMouseleaveHandler);
		}
		// Enable map zooming with mouse scroll when the user clicks the map
		$('.maps.embed-container').on('click', onMapClickHandler);		
	});
</script>
<style>
	.xr {
		background-color: #bb2526;
		width: 30px;
		height: 3px;
		color: #bb2526;
		margin-bottom: 20px;
	}
	.xr-white {
		background-color: white;
		width: 30px;
		height: 3px;
		color: #bb2526;
		margin-top: 20px;
		margin-bottom: 20px;
	}
    .xr-black {
		background-color: black;
		width: 30px;
		height: 3px;
		color: #bb2526;
		margin-top: 20px;
		margin-bottom: 20px;
	}
    .xr-red {
		background-color: #bb2526;
		width: 30px;
		height: 3px;
		color: #bb2526;
		margin-top: 20px;
		margin-bottom: 20px;
	}	
</style>

{{ content }}
