---
layout: default
---
<div class="post">

<script>
$( document ).ready(function() {
    $('.site-header').attr('style','border:0px;');
	$('.page-link').addClass("text-white-mdk");
});
</script>
<style>
 .merdeka {
    position: absolute;
    top: 0;
    left: 0;
    background-position: center 0;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 730px;
	background-image: url('{{ site.baseurl }}/img/bendera.png');
	z-index:-1;
}
</style>
<div class="merdeka"></div>
<div class="jumbotron">
      <div class="container text-center">
	  <div class="thumb">
	  <img src="{{ site.baseurl }}/img/merdeka.png" alt="Hackathon Merdeka">
	  </div>
	  <div class="row"> </div>
	  </div>
</div>

<div class="module white">
    <div class="container">
	<article class="teaser">
	<iframe src="https://www.youtube.com/embed/6wbYu-CmUXg" frameborder="0" allowfullscreen></iframe>
	</article>
	<center><div style="
    background-color: #bb2526;
    width: 30px;
    height: 3px;
    color: #bb2526;
    "></div></center>
	<article class="post-content text-center" style="color:#bb2526;padding-top:20px;">
	<h2>Hackathon Merdeka 1.0</h2>
	<hr>
	 <p>5 aplikasi dari tim pemenang Hackathon Merdeka 1.0 </p>
	 <div class="row" style="padding-top:30px;">
        <div class="col-lg-4 text-center">
         <b>Pasar Laut - Tim Pasar Laut</b>
		 <iframe class="iframe-movie" src="https://www.youtube.com/embed/arlnzivE6t0" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-lg-4 text-center">
         <b>Pantau Harga - Tim Coding Stelsel</b>
		 <iframe class="iframe-movie" src="https://www.youtube.com/embed/NfYMcVU_BYs" frameborder="0" allowfullscreen></iframe>
		</div>
		<div class="col-lg-4 text-center">
         <b>5kilo - Tim Enjel Salsabila</b>
		 <iframe class="iframe-movie" src="https://www.youtube.com/embed/pp-rneHU0kY" frameborder="0" allowfullscreen></iframe>
		</div>
	</div>
	</article>
	</div>
</div>

<div class="module red" style="padding-top: 100px;">
    <div class="container">
    <article class="post-content text-center">
	{{ content }}

	Ayo bersama-sama kita berkontribusi pada negara untuk menyelesaikan masalah kependudukan!
	</article>
	<div class='content-container  embed-container  maps'>
		<iframe style="pointer-events: none;" src="https://www.google.com/maps/d/u/5/embed?mid=z4pTcO-jW240.kNRfjhoSCo-s" class="iframe-map" scrolling="no" frameborder="0" marginheight="0" marginwidth="0"></iframe>
	</div>

	<article class="post-content text-center" style="padding-top: 30px;">
	Harapan kami, Hackathon Merdeka 2.0 bisa menjadi sebuah bentuk "Sumpah Pemuda" modern. 
	<br>
	<h2 style="padding-top: 15px;">Merdeka Dengan Kode, MDK!</h2>
	</article>
	</div>
</div>

<script>
// Disable scroll zooming and bind back the click event
// From http://stackoverflow.com/questions/21992498/disable-mouse-scroll-wheel-zoom-on-embedded-google-maps#answer-25904582
var onMapMouseleaveHandler = function (event) {
  var that = $(this);

  that.on('click', onMapClickHandler);
  that.off('mouseleave', onMapMouseleaveHandler);
  that.find('iframe').css("pointer-events", "none");
}

var onMapClickHandler = function (event) {
  var that = $(this);

  // Disable the click handler until the user leaves the map area
  that.off('click', onMapClickHandler);

  // Enable scrolling zoom
  that.find('iframe').css("pointer-events", "auto");

  // Handle the mouse leave event
  that.on('mouseleave', onMapMouseleaveHandler);
}

// Enable map zooming with mouse scroll when the user clicks the map
$('.maps.embed-container').on('click', onMapClickHandler);
</script>

<div class="module white" style="padding-top: 100px;">
    <div class="container">
	<article class="post-content text-center" style="color:#bb2526;">
	<h2>Anda tertarik untuk mendaftar?</h2>
	<hr>
	<div class="row" style="padding-top:30px;">
        <div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-bullhorn fa-4"></i></div></center>
		 <article class="post-content text-center" style="color:#bb2526;">
		 <h2>Ikuti terus pengumuman dari kami</h2>
		 </article>
		</div>
		<div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-users fa-4"></i></div></center>
		 <article class="post-content text-center" style="color:#bb2526;">
		 <h2>Ajak teman kamu dan bentuk tim</h2>
		 </article>
		</div>
		<div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-pencil-square-o"></i></div></center>
		 <article class="post-content text-center" style="color:#bb2526;">

		 <h2><a href="registrasi" style="color:#bb2526;text-decoration: none;">Daftar segera di sini</a></h2>
		 </article>
		</div>
	</div>
	<div class="row" style="padding-top:30px;">
        <div class="col-lg-4">&nbsp;</div>
		<div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-leanpub fa-4"></i></div></center>
		 <article class="post-content text-center" style="color:#bb2526;">
		 <h2><a href="tema-dan-tantangan" style="color:#bb2526;text-decoration: none;">Pelajari tema dan tantangan Hackathon Merdeka 2.0</a></h2>
		 </article>
		</div>
		<div class="col-lg-4">&nbsp;</div>
	</div>
	</article>
	</div>
</div>
<hr>
<div class="module white" style="padding-top: 100px;">
    <div class="container">
	<article class="post-content text-center" style="color:#bb2526;">
	<h2>Diselenggarakan oleh:</h2>
	<center><div style="
    background-color: #bb2526;
    width: 30px;
    height: 3px;
    color: #bb2526;
    "></div></center>
	<center style="padding-top:50px;">
	<a href="http://code4nation.id" target="_blank"><img src="{{ site.baseurl }}/img/C4N1.png" width="342" height="64" alt="" title="Code4Nation" ></a>
	</center>
	</article>
	</div>
</div>

</div>
