---
layout: default
---
<div class="post">

{% if page.title == "Teras" %}
<script>
$( document ).ready(function() {
    $('.site-header').attr('style','border:0px;');
	$('.page-link').addClass("text-white-mdk");
});
</script>
<div class="image"></div>
<div class="jumbotron">
      <div class="container text-center">
	  <div class="thumb">
	  <img src="/hackathon/img/merdeka.png" alt="Hackathon Merdeka">
	  </div>
	  <div class="row"> </div>
	  </div>
</div>

<div class="module white">
    <div class="container">
	<article class="teaser">
	<iframe width="800" height="450" src="https://www.youtube.com/embed/6wbYu-CmUXg" frameborder="0" allowfullscreen=""></iframe>
	</article>
	<center><div style="
    background-color: #bb2526;
    width: 30px;
    height: 3px;
    color: #bb2526;
    "></div></center>
	<article class="post-content text-center" style="color:#bb2526;padding-top:20px;">
	<h2>Hackathon Merdeka 1.0</h2>
	</article>
	</div>
</div>
<div class="module red" style="padding-top: 100px;">
    <div class="container">
	<article class="post-content text-center">
	{{ content }}
	</article>
	</div>
</div>

<div class="module white" style="padding-top: 100px;">
    <div class="container">
	<article class="post-content text-center" style="color:#bb2526;">
	<h2>Anda tertarik untuk mendaftar?</h2>
	<hr>
	<div class="row" style="padding-top:30px;">
        <div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-bullhorn fa-4"></i></div></center>
		 <article class="post-content text-center" style="color:#bb2526;">
		 <h2>Ikuti terus pengumuman dari Kami</h2>
		 </article>
		</div>
		<div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-users fa-4"></i></div></center>
		 <article class="post-content text-center" style="color:#bb2526;">
		 <h2>Ajak teman kamu dan bentuk tim</h2>
		 </article>
		</div>
		<div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-leanpub fa-4"></i></div></center>
		 <article class="post-content text-center" style="color:#bb2526;">
		 <h2>Pelajari <a href="/hackathon/tema-dan-tantangan" style="color:#bb2526;text-decoration: none;">Tema dan Tantangan Hackathon 2.0</a></h2>
		 </article>
		</div>
	</div>
	</article>
	</div>
</div>
<hr>
<div class="module white" style="padding-top: 100px;">
    <div class="container">
	<article class="post-content text-center" style="color:#bb2526;">
	<h2>Organised by</h2>
	<center><div style="
    background-color: #bb2526;
    width: 30px;
    height: 3px;
    color: #bb2526;
    "></div></center>
	<center style="padding-top:50px;">
	<a href="http://code4nation.id" target="_blank"><img src="/hackathon/img/C4N1.png" width="342" height="64" alt="" title="Code4Nation" ></a>
	</center>
	</article>
	</div>
</div>

{% endif %}

{% if page.title != "Teras" %}
  <header class="post-header">
    <h1 class="container post-title">{{ page.title }}</h1>
  </header>

  <article class="container post-content">
    {{ content }}
  </article>
{% endif %}
</div>
