---
layout: default
---
<div class="post">

{% if page.title == "Teras" %}
<script>
$( document ).ready(function() {
    $('.site-header').attr('style','border:0px;');
	$('.page-link').attr('style','color:white;')
});
</script>
<div class="image"></div>
<div class="jumbotron">
      <div class="container text-center">
	  <div class="thumb">
	  <img src="/hackathon/img/merdeka.png" alt="Hackathon Merdeka">
	  </div>
	  <div class="row"> </div>
	  </div>
</div>

<div class="module white">
    <div class="container">
	<article class="teaser">
	<iframe width="800" height="450" src="https://www.youtube.com/embed/6wbYu-CmUXg" frameborder="0" allowfullscreen=""></iframe>
	</article>
	<article class="post-content text-center">
	<h2>Hackathon Merdeka 1.0</h2>
	</article>
	</div>
</div>
<div class="module red">
    <div class="container">
	<article class="post-content text-center">
	{{ content }}
	</article>
	</div>
</div>

<div class="module white">
    <div class="container">
	<div class="row">
        <div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-bullhorn fa-4"></i></div></center>
		 <article class="post-content text-center">
		 <h2>Ikuti terus pengumuman dari Kami</h2>
		 </article>
		</div>
		<div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-users fa-4"></i></div></center>
		 <article class="post-content text-center">
		 <h2>Ajak teman kamu dan bentuk tim</h2>
		 </article>
		</div>
		<div class="col-lg-4">
		<center><div class="img-circle-mdk"><i class="fa fa-leanpub fa-4"></i></div></center>
		 <article class="post-content text-center">
		 <h2>Pelajari Tema dan Tantangan Hackathon 2.0</h2>
		 </article>
		</div>
	</div>
	</div>
</div>

{% endif %}

{% if page.title != "Teras" %}
  <header class="post-header">
    <h1 class="container post-title">{{ page.title }}</h1>
  </header>

  <article class="container post-content">
    {{ content }}
  </article>
{% endif %}
</div>
