---
layout: default
---

<div class="post">
<style>
.post-header {
    background-color: transparent;
    background-image: url('{{ site.baseurl }}/img/7-300x187.jpg');
    background-repeat: repeat-x;
}
</style>
  <header class="post-header">
    <h1 class="container post-title">{{ page.title }}</h1>
  </header>

  <article class="container post-content">
    {{ content }}
  </article>
  <div class="container">
	<!--<iframe src="https://docs.google.com/forms/d/1hs5dCbxoLGHoc4cWQATr-5n72pRsDqp7GtAd8vOrQFE/viewform?embedded=true" class="iframe-gdoc" frameborder="0" marginheight="0" marginwidth="0"></iframe>-->
	<a href="https://docs.google.com/spreadsheets/d/1wF0Ei4MoXOsS3cnCO2ltK-l7yryMr_93xboAVdJK69Y/pubhtml?gid=1305457528&single=true" target="fs">Jong and PIC</a>
	<iframe src="https://docs.google.com/spreadsheets/d/1wF0Ei4MoXOsS3cnCO2ltK-l7yryMr_93xboAVdJK69Y/pubhtml?gid=1305457528&amp;single=true&amp;widget=true&amp;headers=false" class="iframe-gdoc" frameborder="0" marginheight="0" marginwidth="0" style="height:500px;"></iframe>
  </div>

</div>
